body {
  background-color: #f3f3f3;
  color: #272D33;
  font-size: 16px;
  line-height: 20px;
  margin: 20px;
}

h1 { font-size: 1.75em}

h1, h2 {
  font-family: "Ostrich Sans Black", Arial, sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 1.75em;
  text-shadow: 0 1px 2px rgba(255,255,255,0.75);
  margin-bottom: 1em;
}

#selected-state {
  font-size: 1.5em;
  margin-bottom: 20px;
  font-style: italic;
}

#selected-state > span {
 font-style: normal;
  font-size: 0.75em;
}

#map {width: 700px; height: 450px; vertical-align: middle; margin-bottom: 50px;}
