/*
  general styles
*/
body {
  padding-top: 50px;
}
.row {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.on {
  background: #dae2e5;
}
.off {
  background: #FFFFFF;
}
.white {
  color: #FFFFFF;
}
.shadowed {
  font-style: bold;
  text-shadow:
  -1px -1px 0 #000,
   1px -1px 0 #000,
  -1px  1px 0 #000,
   1px  1px 0 #000;
}
.contact {
  color: #8e959c;
  background: #232d3b;
  padding-top: 30px;
  padding-bottom: 30px;
}

/*
 main page specific
*/
.main-title {
  padding: 15px 10px;
  text-align: center;
}
.perspective {
  color: #E41B17;
}
#number-results {
  font-style: italic;
  font-style: bold;
  color: #E41B17;
}
.carousel-inner > .item > img {
  width: 100%;
  height: auto;
  max-width: 600px;
  max-height: 450px;
  margin: 0 auto;
}
.carousel-inner > .item {
  height: 500px;
}
.carousel-control {
  height: 500px;
}
.carousel-control.left, .carousel-control.right{
  background-image: none;
}
#results {
  padding-top: 20px;
}
#map {
  position:relative;
  width:100%;
  height:100%;
  margin-top:20px;
  margin-bottom:20px;
}

/*
  login-specific styles
*/
.form-control {
  text-align: center;
}

/*
  about-specific styles
*/
.developers {
  padding-top: 40px;
  padding-bottom: 40px;
}
.description> img {
  width: 200px;
  height: 200px;
}
.description>h3{
  font-family: Arial,"Helvetica Neue", Helvetica, sans-serif;
  font-size:20px;
  color: #666666;
}
.description>p{
  font-family: Arial,"Helvetica Neue", Helvetica, sans-serif;
  font-size:16px;
  color: #999999;
}

#myModal {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    height: auto;
}
