<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="About NOTW">
    <meta name="author" content="Chris Kenyon">
    <link rel="icon" href="../../favicon.ico">

    <title>About</title>

    <!-- Bootstrap core CSS -->
    {% load static %}
    <link href="{% static 'perspective/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'perspective/css/notw.css' %}" rel="stylesheet">

  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">News of the World</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="..">Home</a></li>
            {% if username %}
            <li><a href="../login">Logged in as {{ username }}</a></li>
            {% else %}
            <li><a href="../login">Login</a></li>
            {% endif %}
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row on">
        <h2 class="main-title">About News of the World</h2>
        <div class = 'col-xs-offset-2 col-xs-8 col-xs-offset-2 description'>
          <p>News of the World is an application that lets you see how different areas are reporting on the things that you care about. Simply search on a buzz word and we'll find you all the articles we have in our always growing database!</p>
          <p>Expansions to come providing comparisons of articles and news from the whole world!</p>
        </div>
      </div>
      <div class='row off developers'>
        <div class='col-sm-6 description'>
          <img src="{% static 'perspective/doug.jpg'%}">
          <h3>Douglas Franklin</h3>
          <p>Bachelor number one is a real catch who loves pina coladas and getting caught in the rain. This dasterdly little devil Doug is always down for a <a target='_blank' href="{% static 'perspective/doug.mp4'%}"><u>good time</u></a>, and when you don't find him catching a wave, he's probably catching your heart. If it's a good <a target='_blank' href='http://www.wsj.com/articles/linkedin-skills-you-didnt-think-you-needed-round-tables-hugs-cheese-1469460959'><u>joke</u></a> you're looking for or text-analyzing algorithms, Doug is the man for you!</p>
        </div>
        <div class='col-sm-6 description'>
          <img src="{% static 'perspective/chris.jpg'%}">
          <h3>Christopher Kenyon</h3>
          <p>Bachelor number two is a rebel without a cause, a man who plays by no rules but his own. The only thing worse than these front end skills that he's showing you right now is the blackness in his heart brought on by a long career of lady slaying. If you can find him leaving his cave to perch on top of a mountain, and you think you can tame this beast, then Chris is your man!</p>
        </div>

      </div>
      <div class="row contact">
        <div class="col-sm-offset-3 col-sm-6 col-sm-offset-3">
          <h3 class="white">contact</h3>
          <p><i>send suggestions, support, or surprises!</i></p>
        </div>
        <div class="col-sm-offset-3 col-sm-3">
          <a href="mailto:cjkenyon117@gmail.com?subject=Hello%20Handsome%20NOTW%20Developer!" target="_top">Chris Kenyon</a>
        </div>
        <div class="col-sm-3">
          <a href="mailto:dfrank888@gmail.com?subject=Hello%20Handsome%20NOTW%20Developer!" target="_top">Doug Franklin</a>
        </div>
      </div>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static 'perspective/js/jquery.min.js' %}"><\/script>')</script>
    <script src="{% static 'perspective/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'perspective/js/login.js' %}"></script>
  </body>
</html>

