{% if left_art %}
</div>
{% load static %}
    <!-- Wrapper for slides -->
    <div>
    <a href='{{ left_art.link }}'><h1>{{ left_art.title }}</h1></a>
    <p></p>
    <div id='modal-content'>
    <p>{{ left_art.text }}</p>
    </div>
    {% for word in left_art.keywords %}
    <div >
      <p>{{ word }}</p> 
      {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
<script src="{% static 'perspective/js/hilighter.js' %}"></script>
