<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="NOTW login">
    <meta name="author" content="Chris Kenyon">
    <link rel="icon" href="../../favicon.ico">

    <title>Log In</title>

    <!-- Bootstrap core CSS -->
    {% load static %}
    <link href="{% static 'perspective/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'perspective/css/notw.css' %}" rel="stylesheet">

  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">News of the World</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="..">Home</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <h2 class="main-title">Log in. Gain perspective.</h2>
        <form class="form-horizontal">
          <div class="form-group">
            <label class = "control-label col-sm-2" for="username">Username</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="username" placeholder="Enter Username" required>
            </div>
          </div>
          <div class="form-group">
            <label class = "control-label col-sm-2" for="password">Password</label>
            <div class="col-sm-8">
              <input type="password" class="form-control" id="password" placeholder="Enter Password" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
              <input id="loginbutton" class="btn btn-primary" type="button" value="Log in">
            </div>
          </div>
          <div class="form-group" style="margin-top: 30px">
            <label class = "control-label col-sm-2" for="first">First Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="first">
            </div>
          </div>
          <div class="form-group">
            <label class = "control-label col-sm-2" for="last">Last Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="last">
            </div>
          </div>
          <div class="form-group">
            <label class = "control-label col-sm-2" for="email">Email Address</label>
            <div class="col-sm-8">
              <input type="email" class="form-control" id="email">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
              <input id="createbutton" class="btn btn-primary" type="button" value="Create User">
            </div>
          </div>
        </form>
      </div>
      <div class='row'>
        <div class = 'col-xs-offset-2 col-xs-8 col-xs-offset-2'>
          <div id = 'notification'></div>
        </div>
      </div>
      <div class="row contact" id='contact'>
        <div class="col-sm-offset-3 col-sm-6 col-sm-offset-3">
          <h3 class='white'>contact</h3>
          <p><i>send suggestions, support, or surprises!</i></p>
        </div>
        <div class="col-sm-offset-3 col-sm-3">
          <a href="mailto:cjkenyon117@gmail.com?subject=Hello%20Handsome%20NOTW%20Developer!" target="_top">Chris Kenyon</a>
        </div>
        <div class="col-sm-3">
          <a href="mailto:dfrank888@gmail.com?subject=Hello%20Handsome%20NOTW%20Developer!" target="_top">Doug Franklin</a>
        </div>
      </div>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static 'perspective/js/jquery.min.js' %}"><\/script>')</script>
    <script src="{% static 'perspective/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'perspective/js/login.js' %}"></script>
  </body>
</html>

