{% if art_list %}
{% load static %}
<div class ="row on">
  <div id="results" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#results" data-slide-to="0" class="active"></li>
      {% for i in additional %}
        <li data-target="#results" data-slide-to="{{i}}"></li>
      {% endfor %}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      {% for art in art_list %}
      {% if forloop.counter == 1 %}
      <div class="item active">
      {% else %}
      <div class="item">
      {% endif %}
        {% if art.image %}
          {% if art.video %}
          <video controls><source src="{{ art.image }}" style="width:100%;max-width:600px;height:100%;max-height:450px"></video>
          {% else %}
          <img src="{{ art.image }}" alt="Image">
          {% endif %}
        {% else %}
        <img src="{% static 'perspective/carousel.jpg' %}" alt="Image">
        {% endif %}
        <div class="carousel-caption shadowed">
          <h3><a href={{art.link}} target="_blank" style="color: white;">{{ art.title }}<br><br></a></h3>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#results" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#results" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
{% endif %}
