<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="NOTW search">
    <meta name="author" content="Chris Kenyon">
    <link rel="icon" href="../../favicon.ico">

    <title>News of the World</title>

    <!-- Bootstrap core CSS -->
    {% load static %}
    <link href="{% static 'perspective/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'perspective/css/notw.css' %}" rel="stylesheet">

  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">News of the World</a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              {% if username %}
              <li><a href="login">Logged in as {{ username }}</a></li>
              {% else %}
              <li><a href="login">Login</a></li>
              {% endif %}
              <li><a href="about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container-fluid" id="container">
    <!-- Trigger/Open The Modal -->
<button id="myBtn">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  </div>
</div>
      <div class="row on">
        <div class="col-sm-12 col-md-12">
          <h2 class="main-title">gain<span class='perspective'>perspective</span></h2>
        </div>
        <div class="col-sm-offset-4 col-sm-4 col-sm-offset-4">
          <div class="form-group">
            <input type="text" class="form-control" id="search" placeholder="Enter Keyword">
          </div>
          <input id="keybutton" class="btn btn-primary" type="submit" value="Enrich Me">
        </div>
        <div class="col-sm-12">
          <div id="number-results"></div>
        </div>
      </div>
      <div class="off" id="map"></div>
      <div id="results-container"></div>
      <div class="row contact" id='contact'>
        <div class="col-sm-offset-3 col-sm-6 col-sm-offset-3">
          <h3 class='white'>contact</h3>
          <p><i>send suggestions, support, or surprises!</i></p>
        </div>
        <div class="col-sm-offset-3 col-sm-3">
          <a href="mailto:cjkenyon117@gmail.com?subject=Hello%20Handsome%20NOTW%20Developer!" target="_top">Chris Kenyon</a>
        </div>
        <div class="col-sm-3">
          <a href="mailto:dfrank888@gmail.com?subject=Hello%20Handsome%20NOTW%20Developer!" target="_top">Doug Franklin</a>
        </div>
      </div>
<!-- js.usmap implementation commented out in case problems with the Datamap
      <div class="row">
        <div class="col-sm-offset-1 col-sm-10 col-sm-offset-1 map2-col">
          <div class = "row placeholders">
            <h2 class="main-title">Alternative map</h2>
            <div id="map2"></div>
            <div id="clicked-state"></div>
          </div>
        </div>
      </div>
-->
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static 'perspective/js/jquery.min.js' %}"><\/script>')</script>
    <script src="{% static 'perspective/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'perspective/js/d3.v3.min.js' %}"></script>
    <script src="{% static 'perspective/js/topojson.v1.min.js' %}"></script>
    <!--script src="http://datamaps.github.io/scripts/datamaps.usa.min.js?v=1"></script-->
    <script src="{% static 'perspective/js/datamaps.usa.min.js' %}"></script>
    
<!-- map2 stuff
    <script src="{% static 'perspective/js/raphael.min.js' %}"></script>
    <script src="{% static 'perspective/js/jquery.usmap.js' %}"></script>
 -->
    <script src="{% static 'perspective/js/notw.js' %}"></script>
  </body>
</html>
